.form-submit__btn, .checkbox__label, .footer__btn::after, .clients__icon, .clients__link, .team__link, .team-list__cont, .service__block, .adventage__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  display: inline-block;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  min-width: 200px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  box-shadow: -2px -2px 2px 2px #2f303a, 2px 2px 2px 2px #2f303a;
}

ul, a, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.logo,
.logo-studio-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2196f3;
  text-decoration: none;
}

.header__logo {
  color: #000000;
  text-decoration: none;
}

.footer__logo {
  padding: 0;
  display: block;
  margin-bottom: 20px;
}

.footer__logo--studio {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-style: normal;
  color: #ffffff;
}

.container__header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.site-nav {
  margin-left: 94px;
}

.site-nav__list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.site-nav__item {
  position: relative;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  outline: none;
  color: #2196f3;
}
.site-nav__link::after {
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover::after, .site-nav__link:focus::after {
  transform: scaleX(1);
}

.current {
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  transform: scaleX(1);
}

.contacts-header {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 50px;
}

.contacts-header__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-header__link:hover, .contacts-header__link:focus {
  outline: none;
  color: #2196f3;
  fill: #2196f3;
}

.contacts-header__icon {
  margin-right: 10px;
  border: none;
  color: #757575;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-photo.jpg);
  background-position: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.advantage__list {
  display: flex;
  gap: 30px;
}

.advantage__item {
  width: calc((100% - 60px) / 4);
}

.advantage__title {
  color: #212121;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.advantage__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.adventage__icon {
  background-color: #f5f4fa;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
}

.services {
  padding-top: 0;
}

.service__list {
  display: flex;
  gap: 30px;
}

.service__item {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.service__img {
  display: block;
  margin: 0;
  padding: 0;
}

.service__block {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.service__titles {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.services__title {
  margin-top: 0;
  margin-bottom: 50px;
}

.team-list__cont {
  gap: 10px;
}

.team__item {
  width: calc((100% - 90px) / 4);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 1px 2px rgba(117, 117, 117, 0.5);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__item:hover, .team__item:focus {
  box-shadow: 1px 3px 3px 1px rgba(117, 117, 117, 0.5);
}

.team__title {
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  gap: 30px;
}

.team__img {
  display: block;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
  color: #212121;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

.team__blok {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.team__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover, .team__link:focus {
  outline-color: transparent;
  fill: #ffffff;
  background-color: #2196f3;
}

.clients__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  gap: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  color: #AFB1B8;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  outline-color: #2196f3;
  color: #2196f3;
  fill: #2196f3;
  border-color: #2196f3;
}

.clients__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__address {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address:hover, .footer__address:focus {
  color: #2196f3;
}

.footer__link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: #2196f3;
}

.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address__block {
  margin-right: 70px;
}

.footer__container {
  display: flex;
}

.footer-list__icon {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer__title {
  margin-top: 0;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-icon__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon__link:hover, .footer-icon__link:focus {
  outline: none;
  background-color: #2196f3;
}

.footer__form {
  margin-left: auto;
}

.footer-form__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form__input {
  display: inline-block;
  margin-right: 12px;
  padding-left: 16px;
  min-width: 360px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input:focus {
  border-color: rgba(255, 255, 255, 0.3);
}

.footer-form__block {
  display: flex;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  min-width: 200px;
  min-height: 50px;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
}

.footer__btn::after {
  content: "";
  width: 100%;
  height: 100%;
  margin-left: 10px;
  background-image: url(../images/icon-send.svg);
  background-repeat: no-repeat;
  fill: #f5f4fa;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: scale(0.5) translate(-50%, -50%);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  min-height: 580px;
  min-width: 530px;
  padding: 15px;
  border-radius: 4px;
  background-color: #ffffff;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal__btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal__btn:hover, .close-modal__btn:focus {
  fill: #2196f3;
}

.modal {
  padding: 40px;
}

.form__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.11;
  text-align: center;
  color: #212121;
}

.form__shield {
  margin-bottom: 10px;
}

.form__name {
  display: block;
  font-family: inherit;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__label {
  position: relative;
  display: block;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #212121;
}

.form__input {
  display: block;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover, .form__input:focus {
  outline-color: #2196f3;
  border-color: #2196f3;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover ~ .form__icon, .form__input:focus ~ .form__icon {
  fill: #2196f3;
}

.form__comment {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.comment__text {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  min-height: 50px;
  cursor: pointer;
  outline-color: #2196f3;
}

textarea::-moz-placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.checkbox__label {
  margin-bottom: 30px;
}

.checkbox__icon {
  background-image: url(../images/vector-1.svg);
  width: 16px;
  height: 15px;
  margin-right: 9px;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .checkbox__icon {
  background-image: url(../images/icon-check.svg);
}

.form__agreement {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  margin: 0;
  padding: 0;
}

.form-submit__btn {
  min-width: 200px;
  min-height: 50px;
  margin: 0 auto;
  padding: 10px 52px;
  border-radius: 4px;
  border-color: transparent;
  background-color: #2196f3;
  color: #ffffff;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.checkbox__link {
  font-size: 14px;
  line-height: 1.71;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button__portfolio {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-family: inherit;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__portfolio:hover, .button__portfolio:focus {
  outline: none;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 1px 1px 1px 1px #E5E5E5;
}

.buttons__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}
.portfolio__text:hover, .portfolio__text:focus {
  color: #757575;
}

.portfolio__link {
  display: inline-block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 2px 2px 3px 3px #E5E5E5;
}

.portfolio__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio__item:nth-child(3n) {
  margin-right: 0;
}
.portfolio__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio__sign {
  padding: 20px 24px;
  border-left: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid rgb(238, 238, 238);
  border-top: none;
}

.portfolio__img {
  display: block;
}

.overlay__block {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.overlay__text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover .overlay__text, .portfolio__link:focus .overlay__text {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */