.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: $title-text-color;
}

.portfolio__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;

  color: $primary-text-color;

  &:hover,
  &:focus {
    color: $primary-text-color;
  }
}

.portfolio__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;

  @include transition(box-shadow);
  //   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 2px 2px 3px 3px #e5e5e5;
  }
}

.portfolio__item {
  display: flex;
  border-top: none;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio__sign {
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  padding: 20px 24px;
  flex-grow: 1;
}
.portfolio__img {
  display: block;
}
.overlay__block {
  box-sizing: border-box;

  position: relative;
  overflow: hidden;
}

.overlay__text {
  position: absolute;
  left: 0;
  bottom: 0;

  padding: 63px 24px;
  margin: 0;

  font-size: 18px;
  line-height: 1.56;
  color: $head-text-color;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);

  @include transition(transform);
  //   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translateY(0);
  }
}
