.logo,
.logo-studio-footer {
  font-family: $font-family-logo;
  font-weight: $font-weight-title;
  font-size: 26px;
  line-height: 1.19;
}
.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 15px;

  color: $accent-color;
  text-decoration: none;
}
.header__logo {
  color: #000000;
  text-decoration: none;
}

.footer__logo {
  padding: 0;
  display: block;
  margin-bottom: 20px;
}

.footer__logo--studio {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
  font-style: normal;
  color: $head-text-color;
}
